.u-section-1 .u-sheet-1 {
  min-height: 179px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 576px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 77px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 158px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}





@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    margin-bottom: -93px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1308px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 28px;
  }


}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1676px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 2525px;
  }


}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4649px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3312px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

}

.farmer-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}




