<app-navbar></app-navbar>
<div class="container mt-5">
  <h3 class="text-center mb-4">Product's List</h3>
  <div class="text-end mb-3">
    <button class="btn btn-success" routerLink="/add-product">
      + Add
    </button>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <img [src]="product.image" alt="Image" width="60" height="40" />
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }} Tk / {{ product.unit }}</td>
      <td>{{ product.category.name }}</td>


      <td class="text-center">
        <button class="btn btn-sm btn-warning me-2" (click)="editProduct(product.id)">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
