<app-navbar></app-navbar>
<div class="container mt-5">
  <h3 class="text-center mb-4">Category List</h3>
  <div class="text-end mb-3">
    <button class="btn btn-success" routerLink="/add-category">
      + Add
    </button>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cat of categories; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <img [src]="cat.image" alt="Image" width="60" height="40" />
      </td>
      <td>{{ cat.name }}</td>
      <td class="text-center">
        <button class="btn btn-sm btn-warning me-2" (click)="editCategory(cat.id)">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deleteCategory(cat.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
